<div>
    <h2>Software</h2>
    <div class="container">
        <button (click)="openModal('crear','')">Agregar</button>
        <app-container>
            <app-table [data]="data" [metaDataColumns]="metaDataColumns">
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row" class="alignButton">
                        <button 
                            mat-icon-button
                            color="primary"
                            (click)="openModal('actualizar',row)"
                            matTooltip="EDITAR">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button 
                            mat-icon-button
                            color="accent"
                            matTooltip="ELIMINAR"
                            (click)="openDeleteModal(row)"
                            >
                            <mat-icon>delete</mat-icon>
                        </button>  
                                     
                    </td>
                </ng-container>
            </app-table> 
        </app-container>
    </div>
</div>

<div *ngIf="modalOpen" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
        <h2>{{ titleText }}</h2>
        <mat-form-field>
            <mat-label>Software</mat-label>
            <input type="text" 
                matInput 
                required 
                placeholder="Ingrese el nombre del software"
                [(ngModel)]="softwareText">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Version</mat-label>
            <input type="text" 
                matInput 
                required 
                placeholder="Ingrese el nombre del software"
                [(ngModel)]="versionText">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Tipo</mat-label>
            <mat-select required [(ngModel)]="tipoText" placeholder="Seleccione el tipo">
                <mat-option *ngFor="let tipo of tipos" [value]="tipo">
                    {{ tipo }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Duracion</mat-label>
            <input type="text" 
                matInput 
                required 
                placeholder="Ingrese el nombre del software"
                [(ngModel)]="duracionText">
        </mat-form-field>   
        <mat-form-field>
            <mat-label>Descripcion</mat-label>
            <input type="text" 
                matInput 
                required 
                placeholder="Ingrese el nombre del software"
                [(ngModel)]="descripcionText">
        </mat-form-field>    

        <mat-form-field>
            <mat-label>Laboratorio</mat-label>
            <mat-select [(ngModel)]="laboratorioSeleccionado" name="sof_tip_ubi" id="sof_tip_ubi">
              <mat-option *ngFor="let ubicacion of dataTipoUbicacion" [value]="ubicacion.tip_ubi_id">{{ ubicacion.tip_ubi_nombre }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="button-container">
            <button mat-button 
            (click)="saveData()" 
            [disabled]="!isFormValid()" 
            [ngClass]="{'invalid-button': !isFormValid()}"
            *ngIf="showButtonCreate">Guardar</button>

            <button mat-button 
            (click)="updateData()" 
            [disabled]="!isFormValid()" 
            [ngClass]="{'invalid-button': !isFormValid()}"
            *ngIf="showButtonEdit">Actualizar</button>

            <button mat-button 
            (click)="closeModal()" class="Cancelar">Cancelar</button>
        </div>
    </div>
</div>

<div *ngIf="modalDeleteOpen" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeDeleteModal()">&times;</span>
        <h2>Eliminar Software</h2>
        <span>Esta seguró de eliminar el Software?</span>
        <div class="button-container">
            <button mat-button 
            (click)="deleteData()">Eliminar</button>
            <button mat-button 
            (click)="closeDeleteModal()" class="Cancelar">Cancelar</button>
        </div>
    </div>
</div>