<div>
    <h2>Reportes</h2>
    <div class="container">
        <button (click)="openModal('crear','')">Generar Reporte</button>

        <app-container>
            <!--<app-table [data]="data" [metaDataColumns]="metaDataColumns">
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let row" class="alignButton">
                        <button 
                            mat-icon-button
                            color="primary"
                            matTooltip="DESCARGAR"
                            >
                            <mat-icon>download</mat-icon>
                        </button>
                        <button 
                            mat-icon-button
                            color="accent"
                            matTooltip="ELIMINAR"
                            (click)="openDeleteModal(row)"
                            >
                            <mat-icon>delete</mat-icon>
                        </button>  
                    </td>
                </ng-container>
            </app-table> -->
            
        </app-container>
    </div>
</div>

<div *ngIf="modalOpen" class="modal">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <h2>{{ titleText }}</h2>

        <div class="form-group">
            <mat-form-field>
                <mat-label>Tipo de Reporte</mat-label>
                <mat-select [(ngModel)]="tipoReporteSeleccionado" (selectionChange)="onTipoReporteChange($event)" name="tipoBien" id="tipoBien">
                    <mat-option *ngFor="let tipo of tipoReporte" [value]="tipo.id">{{ tipo.nombre }}</mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field *ngIf="mostrarTipoInformacion">
                <mat-label>Tipo de Información</mat-label>
                <mat-select [(ngModel)]="detalleSeleccionado" name="tipoInformacion" id="tipoInformacion" (selectionChange)="onTipoInformacionChange($event)">
                    <mat-option *ngFor="let detalle of detalleUno" [value]="detalle.id">{{ detalle.nombre }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

            <mat-form-field *ngIf="mostrarEncargados">
                <mat-label>Encargado</mat-label>
                <mat-select [(ngModel)]="encargadoSeleccionado" name="encargado" id="encargado">
                    <mat-option *ngFor="let encargado of encargados" [value]="encargado.usu_id">{{ encargado.usu_cedula }}-{{ encargado.usu_nombres }} - {{ encargado.usu_apellidos }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="mostrarUbicaciones">
                <mat-label>Ubicacion</mat-label>
                <mat-select [(ngModel)]="laboratorioSeleccionado" name="ubicacion" id="ubicacion">
                    <mat-option *ngFor="let laboratorio of laboratorios" [value]="laboratorio.ubi_id">{{ laboratorio.ubi_nombre}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="mostrarDocumento">
                <mat-label>Tipo Documento</mat-label>
                <mat-select [(ngModel)]="documentoSeleccionado" name="documento" id="documento">
                    <mat-option *ngFor="let doc of documento" [value]="doc.id">{{ doc.nombre}}</mat-option>
                </mat-select>
            </mat-form-field>

        <div class="button-container">
            <button mat-button (click)="generateReport()" [disabled]="!isFormValid()" [ngClass]="{'invalid-button': !isFormValid()}">Generar</button>
            <button mat-button 
            (click)="closeModal()" class="Cancelar">Cancelar</button>
        </div>
    </div>
</div>

<div *ngIf="modalDeleteOpen" class="modal">
    <div class="modal-content">
        <span class="close" (click)="closeDeleteModal()">&times;</span>
        <h2>Eliminar Software</h2>
        <span>¿Está seguro de eliminar el Software?</span>
        <div class="button-container">
            <button mat-button (click)="deleteData()">Eliminar</button>
            <button mat-button (click)="closeDeleteModal()" class="Cancelar">Cancelar</button>
        </div>
    </div>
</div>
