<div class="flex flex-wrap p-3 m-2">
  <mat-card *ngFor="let item of items" class="bg-slate-50 flex-1 m-2 max-w-xs rounded-lg">
    <mat-card-header class="bg-red-700 rounded-lg">
      <mat-card-title>
        <a class="text-slate-100">{{ item.titulo }}</a>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col justify-between md:flex-row md:justify-between items-start">
      <div>
        <p><strong>{{ item.disponibles }}</strong></p>
        <p class="font-bold italic">Activos</p>
        <div class="border-separate border border-slate-900"></div>
        <p><strong>{{ item.nodisponibles }}</strong></p>
        <p class="font-bold italic">Inactivos</p>
      </div>
      <div class="mt-4 md:mt-0 md:ml-4">
        <mat-icon>{{ item.icono }}</mat-icon>
      </div>
    </mat-card-content>
  </mat-card>
  
</div>
<div class="flex justify-center grid-cols-2">
  <div id="chart">
    <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [labels]="chartOptions.labels"
    [responsive]="chartOptions.responsive!"
  ></apx-chart>

  </div>
  <div id="chart">
    <apx-chart
      [series]="barChartOptions.series!"
      [chart]="barChartOptions.chart!"
      [xaxis]="barChartOptions.xaxis!"
      [responsive]="barChartOptions.responsive!"
    ></apx-chart>
  </div>


</div>


