<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Inicio</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        img {
            
            max-width: 800px; /* Tamaño máximo para asegurar que no sea demasiado grande */
            height: auto;
        }
    </style>
</head>
<body>
    <img src="../../../../assets/Invcontrol-_1_.png" alt="Descripción de la imagen">
</body>
</html>
