.contenedor {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }
  
  .main-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .login-box {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 60%; /* Ajusta el ancho según sea necesario */
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .left-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-image {
    width: 100%; /* Ajusta el tamaño de la imagen */
    max-width: 350px; /* Limita el ancho máximo de la imagen */
    max-height: 350px; /* Limita la altura máxima de la imagen */
    object-fit: cover;
  }
  
  .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
  }
  
  .login-title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .login-field {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .login-button {
    margin-top: 20px;
    width: 100%;
  }
  
  .login-button button {
    width: 100%;
    background-color: #c62828;
    color: white;
  }
  
  .login-button button:hover {
    background-color: #b71c1c;
  }
  
  .full-width {
    width: 100%;
  }
  
  .texto-rojo {
    color: red;
  }