
@tailwind utilities;

.container {
  background-color: rgb(255, 255, 255);
  height: calc(100vh - 114px);
}

h2 {
  margin-left: 20px;
}

.mat-toolbar-red {
  border-radius: 8px 8px 0 0;
}

.mb-4 {
  margin-bottom: 10px;
}

.w-full {
  width: 100%;
}

.select-all-container {
  display: flex;
  justify-content: flex-start; /* Alinear a la izquierda */
  margin: 0; /* Eliminar márgenes */
  padding: 0; /* Eliminar rellenos */
  margin-left: 5px;
}

button {
  background-color: brown;
  color: white !important;
  border: 1px solid #7f7f7f;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}

.agregar-button {
  margin-bottom: 10px;
}

.search-field {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  margin-left: 10px; /* To align with the button */
}

.Cancelar {
  background-color: rgb(96, 87, 87);
  color: rgb(255, 255, 255) !important;
  border: 1px solid #7f7f7f;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
}

.Cancelar:hover {
  background-color: rgb(155, 146, 146);
}

.invalid-button {
  background-color: rgb(96, 87, 87);
  color: rgb(255, 255, 255) !important;
}

button:hover {
  background-color: red;
}

.scroll-container {
  max-height: 200px; /* Ajusta esta altura según tus necesidades */
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 5px;
  margin: 0; /* Eliminar márgenes */
  border-radius: 5px;
  margin-bottom: 30px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  width: auto; /* Ancho automático para adaptarse al contenido */
  background-color: #fff; /* Color de fondo del modal */
  padding: 20px; /* Espacio interno para los bordes */
  border-radius: 20px; /* Borde redondeado para hacer la caja circular */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra del modal */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button-container button {
  flex-grow: 1;
  margin-right: 10px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.transferir-bienes-button {
  background-color: brown;
  color: white;
  border: 1px solid #7f7f7f;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
}

.transferir-bienes-button:hover {
  background-color: red;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.modal-content {
  background-color: #fff;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  max-width: 800px;
  border-radius: 8px;
  margin: 5% auto;
  gap: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.form-group {
  display: contents;
}

.mat-form-field {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.invalid-button {
  cursor: not-allowed;
  background-color: #ccc;
}

.Cancelar {
  background-color: #f44336;
  color: #fff;
}

.transferir-bienes-button {
  margin-top: 10px;
}

@media (max-width: 600px) {
  .modal-content {
    width: 90%;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }
}
