<div>
  <h2>Usuarios</h2>
  <div class="container">
    <button (click)="openModal('crear', '')" class="agregar-button">Agregar</button>
    <br>
    <mat-form-field class="search-field">
      <mat-label>Buscar por Cédula</mat-label>
      <input matInput (input)="applyFilter($event)" placeholder="Ingrese la cédula">
    </mat-form-field>
    <app-table [data]="data" [metaDataColumns]="metaDataColumns">
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" class="alignButton">
          <button mat-icon-button color="primary" (click)="openModal('actualizar', row)" matTooltip="EDITAR">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" matTooltip="ELIMINAR" (click)="openDeleteModal(row)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="accent" matTooltip="TRANSFERIR" (click)="openTransferModal(row)">
            <mat-icon>supervisor_account</mat-icon>
          </button>
        </td>
      </ng-container>

    </app-table>
  </div>
</div>

<div *ngIf="modalOpen && action === 'crear'" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Crear Usuario</h2>
    <div class="form-grid">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Cédula</mat-label>
          <input type="text" matInput required placeholder="Ingrese la cédula" [(ngModel)]="selectedUser.usu_cedula" (keydown)="onKeyDown($event)" maxlength="10">
        </mat-form-field>
        

        <mat-form-field>
          <mat-label>Estado</mat-label>
          <mat-select [(ngModel)]="selectedUser.usu_habilitado">
            <mat-option value="ACTIVO">ACTIVO</mat-option>
            <mat-option value="INACTIVO">INACTIVO</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Nombres</mat-label>
          <input type="text" matInput required placeholder="Ingrese el usuario" [(ngModel)]="selectedUser.usu_nombres">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Apellidos</mat-label>
          <input type="text" matInput required placeholder="Ingrese los nombres" [(ngModel)]="selectedUser.usu_apellidos">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Correo</mat-label>
          <input type="text" matInput required placeholder="Ingrese el correo" [(ngModel)]="selectedUser.usu_correo">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input type="text" matInput required placeholder="Ingrese la contraseña" [(ngModel)]="selectedUser.usu_contrasenia">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Rol</mat-label>
          <mat-select required [(ngModel)]="selectedUser.usu_rol">
            <mat-option *ngFor="let rol of dataRoles" [value]="rol.rol_id">
              {{ rol.rol_nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="button-container">
      <button mat-button (click)="saveData()" [disabled]="!isFormValid()" [ngClass]="{'invalid-button': !isFormValid()}">Guardar</button>
      <button mat-button (click)="closeModal()" class="Cancelar">Cancelar</button>
    </div>
  </div>
</div>

<div *ngIf="modalOpen && action === 'actualizar'" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Editar Usuario</h2>
    <div class="form-grid">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Cédula</mat-label>
          <input type="text" matInput required placeholder="Ingrese la cédula" [(ngModel)]="selectedUser.usu_cedula" pattern="\d*" maxlength="10">
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Estado</mat-label>
          <mat-select [(ngModel)]="selectedUser.usu_habilitado">
            <mat-option value="ACTIVO">ACTIVO</mat-option>
            <mat-option value="INACTIVO">INACTIVO</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Nombres</mat-label>
          <input type="text" matInput required placeholder="Ingrese el usuario" [(ngModel)]="selectedUser.usu_nombres">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Apellidos</mat-label>
          <input type="text" matInput required placeholder="Ingrese los nombres" [(ngModel)]="selectedUser.usu_apellidos">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Correo</mat-label>
          <input type="text" matInput required placeholder="Ingrese el correo" [(ngModel)]="selectedUser.usu_correo">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Contraseña</mat-label>
          <input type="text" matInput required placeholder="Ingrese la contraseña" [(ngModel)]="selectedUser.usu_contrasenia">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Rol</mat-label>
          <mat-select required [(ngModel)]="selectedUser.usu_rol">
            <mat-option *ngFor="let rol of dataRoles" [value]="rol.rol_id">
              {{ rol.rol_nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="button-container">
      <button mat-button (click)="updateData()" [disabled]="!isFormValid()" [ngClass]="{'invalid-button': !isFormValid()}">Actualizar</button>
      <button mat-button (click)="closeModal()" class="Cancelar">Cancelar</button>
    </div>
  </div>
</div>

<div *ngIf="modalDeleteOpen" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeDeleteModal()">&times;</span>
    <h2>Eliminar Usuario</h2>
    <span>¿Está seguro de dar de baja este usuario?</span>
    <div class="button-container">
      <button mat-button (click)="deleteData()">Eliminar</button>
      <button mat-button (click)="closeDeleteModal()" class="Cancelar">Cancelar</button>
    </div>
  </div>
</div>

<div *ngIf="modalTransferOpen" class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeTransferModal()">&times;</span>
    <h2>Transferir bienes</h2>
    
    <mat-form-field>
      <mat-label>Encargado</mat-label>
      <mat-select required [(ngModel)]="encargado_objetivo">
        <mat-option *ngFor="let usuario of data" [value]="usuario.usu_id">
          {{ usuario.usu_nombres }} {{usuario.usu_apellidos}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Inmuebles del Encargado Seleccionado</mat-label>
      <textarea matInput readonly [ngModel]="inmueblesTexto"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Inmuebles del Encargado Seleccionado</mat-label>
      <textarea matInput readonly [ngModel]="tecnologicoTexto"></textarea>
    </mat-form-field>

    <div class="button-container">
      <button mat-button (click)="transferData()" [disabled]="!isValid()" [ngClass]="{'invalid-button': !isValid()}">Transferir</button>
      <button mat-button (click)="closeTransferModal()" class="Cancelar">Cancelar</button>
    </div>
  </div>
</div>
