<div class="p-3">
    <mat-action-list>
        <ng-container *ngFor="let item of menu">
            <ng-container *ngIf="item.items && item.items.length > 0; else link">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" [fontIcon]="item.icon"></mat-icon>
                        <span>{{item.label}}</span>
                    </mat-expansion-panel-header>
                    <div>
                        <a mat-list-item *ngFor="let subItem of item.items" [routerLink]="subItem.routerLink" routerLinkActive="active-sublink">
                            <div class="flex">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" [fontIcon]="subItem.icon"></mat-icon>
                                <span>{{subItem.label}}</span> 
                            </div>
                        </a>
                    </div>
                </mat-expansion-panel>
            </ng-container>
            <ng-container>
                <ng-template #link>
                    <a mat-list-item [routerLink]="item.routerLink" routerLinkActive="active-link">
                        <div class="flex">
                            <mat-icon aria-hidden="false" aria-label="Example home icon" [fontIcon]="item.icon"></mat-icon>
                            <span>{{item.label}}</span> 
                        </div>
                    </a>
                </ng-template>

            </ng-container>
            
        </ng-container>
    </mat-action-list>
</div>
